uas-types/src/main/schema/JobManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="JobManagement"
    targetNamespace="http://unigrids.org/2006/04/services/jms"
    xmlns:jms="http://unigrids.org/2006/04/services/jms"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
    xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2">
 
  <wsdl:import 
      namespace="http://docs.oasis-open.org/wsrf/rw-2" 
      location="../../specs/wsrf/resource/rw-2.wsdl"/>
 
  <wsdl:types>
    <xsd:schema
        targetNamespace="http://unigrids.org/2006/04/services/jms">
	  <xsd:include schemaLocation="JobManagement.xsd"/>
	  
	</xsd:schema>
  </wsdl:types>
  
  <!--  ========== Messages for Start  ============ --> 
  <wsdl:message name="StartRequest">
    <wsdl:part name="StartRequest"  element="jms:Start"/>
  </wsdl:message>
  <wsdl:message name="StartResponse">
    <wsdl:part name="StartResponse" element="jms:StartResponse"/>
  </wsdl:message>
  <wsdl:message name="JobNotStartedFault">
    <wsdl:part name="JobNotStartedFault" element="jms:JobNotStartedFault" /> 
  </wsdl:message>
  
  <!--  ========== Messages for Abort  ============ --> 
  <wsdl:message name="AbortRequest">
    <wsdl:part name="AbortRequest"  element="jms:Abort"/>
  </wsdl:message>
  <wsdl:message name="AbortResponse">
    <wsdl:part name="AbortResponse" element="jms:AbortResponse"/>
  </wsdl:message>
	<wsdl:message name="JobNotAbortedFault">
    <wsdl:part name="JobNotAbortedFault" element="jms:JobNotAbortedFault" /> 
  </wsdl:message>
	
  <!--  ========== Messages for Hold  ============ --> 
  <wsdl:message name="HoldRequest">
    <wsdl:part name="HoldRequest"  element="jms:Hold"/>
  </wsdl:message>
  <wsdl:message name="HoldResponse">
    <wsdl:part name="HoldResponse" element="jms:HoldResponse"/>
  </wsdl:message>
  <wsdl:message name="JobNotHeldFault">
    <wsdl:part name="JobNotHeldFault" element="jms:JobNotHeldFault" /> 
  </wsdl:message>
  
  <!--  ========== Messages for Resume  ============ --> 
  <wsdl:message name="ResumeRequest">
    <wsdl:part name="ResumeRequest"  element="jms:Resume"/>
  </wsdl:message>
  <wsdl:message name="ResumeResponse">
    <wsdl:part name="ResumeResponse" element="jms:ResumeResponse"/>
  </wsdl:message>
  <wsdl:message name="JobNotResumedFault">
    <wsdl:part name="JobNotResumedFault" element="jms:JobNotResumedFault" /> 
  </wsdl:message>
	
  <!--  ========== Job Management Port Type  ============ -->
  <wsdl:portType name="JobManagement"
      wsrf-rp:ResourceProperties="jms:JobProperties">
    
    <!--  ========== Job Management Operations  ============ --> 
    <wsdl:operation name="Start">
      <wsdl:input  name="StartRequest" message="jms:StartRequest"/>
      <wsdl:output name="StartResponse" message="jms:StartResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="JobNotStartedFault" message="jms:JobNotStartedFault"/>
    </wsdl:operation>
      
    <wsdl:operation name="Abort">
      <wsdl:input  name="AbortRequest" message="jms:AbortRequest"/>
      <wsdl:output name="AbortResponse" message="jms:AbortResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="JobNotAbortedFault" message="jms:JobNotAbortedFault"/>
    </wsdl:operation>
      
    <wsdl:operation name="Hold">
      <wsdl:input  name="HoldRequest" message="jms:HoldRequest"/>
      <wsdl:output name="HoldResponse" message="jms:HoldResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>            
      <wsdl:fault  name="JobNotHeldFault" message="jms:JobNotHeldFault"/>        
    </wsdl:operation>
       
    <wsdl:operation name="Resume">
      <wsdl:input  name="ResumeRequest" message="jms:ResumeRequest"/>
      <wsdl:output name="ResumeResponse" message="jms:ResumeResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="JobNotResumedFault" message="jms:JobNotResumedFault"/>
	</wsdl:operation>
     
  </wsdl:portType>
    
</wsdl:definitions>
