uas-types/src/main/schema/StorageManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="StorageManagement"
    targetNamespace="http://unigrids.org/2006/04/services/sms"
    xmlns:sms="http://unigrids.org/2006/04/services/sms"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrf-rp="http://docs.oasis-open.org/wsrf/rp-2"
    xmlns:wsrf-rw="http://docs.oasis-open.org/wsrf/rw-2">
   
  <wsdl:import
    namespace="http://docs.oasis-open.org/wsrf/rw-2"
    location="../../specs/wsrf/resource/rw-2.wsdl"/>
  
  <wsdl:types>
    <xsd:schema
	    attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        targetNamespace="http://unigrids.org/2006/04/services/sms">
      <xsd:include schemaLocation="StorageManagement.xsd"/>
	</xsd:schema>
  </wsdl:types>
  
  <!--  ========== SMS Messages  ============ --> 
  <wsdl:message name="ListDirectoryRequest">
    <wsdl:part name="ListDirectoryRequest"  element="sms:ListDirectory"/>
  </wsdl:message>
  <wsdl:message name="ListDirectoryResponse">
    <wsdl:part name="ListDirectoryResponse" element="sms:ListDirectoryResponse"/>
  </wsdl:message>
  <wsdl:message name="DirectoryNotListedFault">
    <wsdl:part name="DirectoryNotListedFault" element="sms:DirectoryNotListedFault" /> 
  </wsdl:message>
  
  <wsdl:message name="ListPropertiesRequest">
    <wsdl:part name="ListPropertiesRequest"  element="sms:ListProperties"/>
  </wsdl:message>
  <wsdl:message name="ListPropertiesResponse">
    <wsdl:part name="ListPropertiesResponse" element="sms:ListPropertiesResponse"/>
  </wsdl:message>
  <wsdl:message name="PropertiesNotListedFault">
    <wsdl:part name="PropertiesNotListedFault" element="sms:PropertiesNotListedFault"/> 
  </wsdl:message>

  <wsdl:message name="CopyRequest">
    <wsdl:part name="CopyRequest"  element="sms:Copy"/>
  </wsdl:message>
  <wsdl:message name="CopyResponse">
    <wsdl:part name="CopyResponse" element="sms:CopyResponse"/>
  </wsdl:message>
  <wsdl:message name="FileNotCopiedFault">
    <wsdl:part name="FileNotCopiedFault" element="sms:FileNotCopiedFault" /> 
  </wsdl:message>

  <wsdl:message name="CreateDirectoryRequest">
    <wsdl:part name="CreateDirectoryRequest" element="sms:CreateDirectory"/>
  </wsdl:message>
  <wsdl:message name="CreateDirectoryResponse">
    <wsdl:part name="CreateDirectoryResponse" element="sms:CreateDirectoryResponse"/>
  </wsdl:message>
  <wsdl:message name="DirectoryNotCreatedFault">
    <wsdl:part name="DirectoryNotCreatedFault" element="sms:DirectoryNotCreatedFault"/>
  </wsdl:message>
       
  <wsdl:message name="DeleteRequest">
    <wsdl:part name="DeleteRequest" element="sms:Delete"/>
  </wsdl:message>
  <wsdl:message name="DeleteResponse">
    <wsdl:part name="DeleteResponse" element="sms:DeleteResponse"/>
  </wsdl:message>
  <wsdl:message name="FileNotDeletedFault">
    <wsdl:part name="FileNotDeletedFault" element="sms:FileNotDeletedFault"/>
  </wsdl:message>

  <wsdl:message name="RenameRequest">
    <wsdl:part name="RenameRequest"  element="sms:Rename"/>
  </wsdl:message>
  <wsdl:message name="RenameResponse">
    <wsdl:part name="RenameResponse" element="sms:RenameResponse"/>
  </wsdl:message>
  <wsdl:message name="FileNotRenamedFault">
    <wsdl:part name="FileNotRenamedFault" element="sms:FileNotRenamedFault" /> 
  </wsdl:message>

  <wsdl:message name="ChangePermissionsRequest">
    <wsdl:part name="ChangePermissionsRequest"  element="sms:ChangePermissions"/>
  </wsdl:message>
  <wsdl:message name="ChangePermissionsResponse">
    <wsdl:part name="ChangePermissionsResponse" element="sms:ChangePermissionsResponse"/>
  </wsdl:message>
  <wsdl:message name="PermissionsNotChangedFault">
    <wsdl:part name="PermissionsNotChangedFault" element="sms:PermissionsNotChangedFault" /> 
  </wsdl:message>
  
  <wsdl:message name="ImportFileRequest">
    <wsdl:part name="ImportFileRequest"  element="sms:ImportFile"/>
  </wsdl:message>
  <wsdl:message name="ImportFileResponse">
    <wsdl:part name="ImportFileResponse" element="sms:ImportFileResponse"/>
  </wsdl:message>
  <wsdl:message name="ImportFileResourceNotCreatedFault">
    <wsdl:part name="ImportFileResourceNotCreatedFault" element="sms:ImportFileResourceNotCreatedFault" /> 
  </wsdl:message>

  <wsdl:message name="ExportFileRequest">
    <wsdl:part name="ExportFileRequest"  element="sms:ExportFile"/>
  </wsdl:message>
  <wsdl:message name="ExportFileResponse">
    <wsdl:part name="ExportFileResponse" element="sms:ExportFileResponse"/>
  </wsdl:message>
  <wsdl:message name="ExportFileResourceNotCreatedFault">
    <wsdl:part name="ExportFileResourceNotCreatedFault" element="sms:ExportFileResourceNotCreatedFault" /> 
  </wsdl:message>
  
  <wsdl:message name="FindRequest">
    <wsdl:part name="FindRequest"  element="sms:Find"/>
  </wsdl:message>
  <wsdl:message name="FindResponse">
    <wsdl:part name="FindResponse" element="sms:FindResponse"/>
  </wsdl:message>
  <wsdl:message name="FindFault">
    <wsdl:part name="FindFault" element="sms:FindFault"/> 
  </wsdl:message>
  
  <!--  ========== Storage Management Port Type  ============ -->
  <wsdl:portType name="StorageManagement"
      wsrf-rp:ResourceProperties="sms:StorageProperties">
   
    <!--  ========== SMS-Operations  ============ --> 
    <wsdl:operation name="ListDirectory">
      <wsdl:input  name="ListDirectoryRequest" message="sms:ListDirectoryRequest"/>
      <wsdl:output name="ListDirectoryResponse" message="sms:ListDirectoryResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>            
      <wsdl:fault  name="DirectoryNotListedFault" message="sms:DirectoryNotListedFault"/>        
    </wsdl:operation>
    
    <wsdl:operation name="ListProperties">
      <wsdl:input  name="ListPropertiesRequest" message="sms:ListPropertiesRequest"/>
      <wsdl:output name="ListPropertiesResponse" message="sms:ListPropertiesResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>            
      <wsdl:fault  name="PropertiesNotListedFault" message="sms:PropertiesNotListedFault"/>        
    </wsdl:operation>

    <wsdl:operation name="Copy">
      <wsdl:input  name="CopyRequest" message="sms:CopyRequest"/>
      <wsdl:output name="CopyResponse" message="sms:CopyResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="FileNotCopiedFault" message="sms:FileNotCopiedFault"/>
    </wsdl:operation>

    <wsdl:operation name="CreateDirectory">
      <wsdl:input  name="CreateDirectoryRequest" message="sms:CreateDirectoryRequest"/>
      <wsdl:output name="CreateDirectoryResponse" message="sms:CreateDirectoryResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>            
      <wsdl:fault  name="DirectoryNotCreatedFault" message="sms:DirectoryNotCreatedFault"/>        
    </wsdl:operation>
        	
    <wsdl:operation name="Delete">
      <wsdl:input  name="DeleteRequest" message="sms:DeleteRequest"/>
      <wsdl:output name="DeleteResponse" message="sms:DeleteResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="FileNotDeletedFault" message="sms:FileNotDeletedFault"/>
    </wsdl:operation>

    <wsdl:operation name="Rename">
      <wsdl:input  name="RenameRequest" message="sms:RenameRequest"/>
      <wsdl:output name="RenameResponse" message="sms:RenameResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="FileNotRenamedFault" message="sms:FileNotRenamedFault"/>
	  </wsdl:operation>
         
	  <wsdl:operation name="ChangePermissions">
      <wsdl:input  name="ChangePermissionsRequest" message="sms:ChangePermissionsRequest"/>
      <wsdl:output name="ChangePermissionsResponse" message="sms:ChangePermissionsResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="PermissionsNotChangedFault" message="sms:PermissionsNotChangedFault"/>
	  </wsdl:operation>
        
    <wsdl:operation name="ImportFile">
      <wsdl:input  name="ImportFileRequest" message="sms:ImportFileRequest"/>
      <wsdl:output name="ImportFileResponse" message="sms:ImportFileResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="ImportFileResourceNotCreatedFault" message="sms:ImportFileResourceNotCreatedFault"/>
    </wsdl:operation>

    <wsdl:operation name="ExportFile">
      <wsdl:input  name="ExportFileRequest" message="sms:ExportFileRequest"/>
      <wsdl:output name="ExportFileResponse" message="sms:ExportFileResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="ExportFileResourceNotCreatedFault" message="sms:ExportFileResourceNotCreatedFault"/>
    </wsdl:operation>
	
    <wsdl:operation name="ReceiveFile">
      <wsdl:input  name="ReceiveFileRequest" message="sms:ReceiveFileRequest"/>
      <wsdl:output name="ReceiveFileResponse" message="sms:ReceiveFileResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="ReceiveFileResourceNotCreatedFault" message="sms:ReceiveFileResourceNotCreatedFault"/>
    </wsdl:operation>

    <wsdl:operation name="SendFile">
      <wsdl:input  name="SendFileRequest" message="sms:SendFileRequest"/>
      <wsdl:output name="SendFileResponse" message="sms:SendFileResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="SendFileResourceNotCreatedFault" message="sms:SendFileResourceNotCreatedFault"/>
    </wsdl:operation>

    <wsdl:operation name="Find">
      <wsdl:input  name="FindRequest" message="sms:FindRequest"/>
      <wsdl:output name="FindResponse" message="sms:FindResponse"/>
      <wsdl:fault  name="ResourceUnknownFault" message="wsrf-rw:ResourceUnknownFault"/>
      <wsdl:fault  name="FindFault" message="sms:FindFault"/>
    </wsdl:operation>
	
  </wsdl:portType>
        
</wsdl:definitions>
